.button {
  display: inline-block;
  font: inherit;

  padding: 15px 0;

  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;
  background-color: transparent;
  outline: none;

  cursor: pointer;

  &--round {
    border-radius: 25px;
  }

  &--download {
    width: 280px;
    border: 3px solid $white;
  }

  &--download:hover,
  &--download:focus {
    background-color: $white;
    color: $pink;
  }

  &--download:active {
    background-color: $white;
    color: $pink-opacity;
  }

  &--editor {
    display: block;
  }

  &--form {
    padding: 18px 0;

    background-color: $green;
    width: 280px;

    border: none;
    outline: none;

    font-weight: 700;

    &:hover,
    &:focus {
      background-color: #1c9b5e;
    }

    &:active {
      color: $white-opacity;
    };

    &:disabled {
      opacity: 0.3;
    }
  }

  &--editor-submit {
    width: 280px;

    border: 3px solid $pink;

    font-weight: 700;
    color: $pink;

    &:hover,
    &:focus {
      background-color: $pink;
      color: $white
    }

    &:active {
      color: $white-opacity;
    }
  }

  &--editor-cancel {
    width: 280px;

    border: 3px solid $blue-dark;

    font-weight: 700;
    color: $blue-dark;

    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      background-color: $blue-dark;
      color: $white-opacity;
      opacity: 0.3;
    }
  }

}

@media (min-width: $tablet-width) {
  .button {
    &--download,
    &--form {
      width: 300px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--editor-submit,
    &--editor-cancel {
      width: 180px;
    }
  }
}