.information {
  padding-top: 40px;

  text-align: center;
}

.information__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 300px;
}

.information__bg-grey-effect-wrapper {
  display: none;
}

.information__bg-grey-wrapper {
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  background-color: $grey;
}

.information__header {
  margin: 0;
  margin-bottom: 15px;

  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}

.information__list {
  @include reset-list;
  padding-top: 100px;
}

.information__item {
  margin-bottom: 25px;

  &--friends {
    margin-bottom: 0;
    padding-bottom: 320px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 150px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.information__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.information__description {
  margin: 0;
}

.information__link {
  color: $pink;
  text-decoration: underline;
}


@media (min-width: $tablet-width) {
  .information {
    padding-top: 50px;
  }

  .information__wrapper {
    width: 660px;

    &--features {
      display: flex;
      justify-content: space-between;
    }
  }

  .information__header {
    font-size: 40px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .information__list {
    padding-top: 70px;
    padding-left: 310px;

    text-align: left;

    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .information__item {
    margin-bottom: 30px;

    &--friends {
      padding-bottom: 0;
      background-image: none;
    }
  }

  .information__bg-grey-effect-wrapper {
    display: block;
    padding: 60px 0;
  }

  .information__bg-grey-effect-wrapper .information__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .information__effect-icon-wrapper {
    position: relative;
    width: 238px;

    &::before {
      content: "24";

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -40%);

      font-size: 96px;
      font-weight: 700;
      line-height: 150px;
      color: $pink;
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      width: 170px;
      height: 170px;

      transform: translate(-50%, -40%);

      border: 10px solid $pink;
      border-radius: 50%;
    }
  }

  .information__effect-icon {
    width: 238px;
    height: 276px;
    fill: $grey-table;
  }

  .information__effect {
    width: 310px;

    text-align: left;
  }

  .information__effect-title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  .information__effect-description {
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    padding-top: 70px;
  }

  .information__wrapper {
    width: 960px;
    padding: 0 10px;

    &--features {
      display: block;
    }
  }

  .information__header {
    font-size: 50px;

    &:last-child {
      margin-bottom: 70px;
    }
  }

  .information__list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

    background-image: none;

    text-align: center;
  }

  .information__item {
    padding-top: 360px;
    position: relative;
    width: 250px;

    &--mood {
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--change {
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
    }

    &--friends {
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: top;
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      &--mood {
        background-image: url("../../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }

      &--change {
        background-image: url("../../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }

      &--friends {
        background-image: url("../../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;

      }
    }
  }

  .information__title {
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
  }

  .information__description {
    font-size: 18px;
    line-height: 30px;
  }

  .information__bg-grey-effect-wrapper {
    background-color: $grey;
  }

  .information__effect-icon-wrapper {
    width: 300px;

    &::before {
      font-size: 120px;
      line-height: 186px;
    }

    &::after {
      width: 200px;
      height: 200px;
    }
  }

  .information__effect-icon {
    width: 298px;
    height: 345px;
  }

  .information__effect {
    width: 570px;
  }

  .information__effect-title {
    font-size: 30px;
  }

  .information__link {
    font-size: 18px;
  }
}