.range-controls {
  display: none;
  position: absolute;
  width: 240px;

  &--active {
    display: block;
  }
}

.range-controls__scale {
  height: 2px;

  background: black;
}

.range-controls__toggle {
  position: absolute;
  top: -7px;
  left: 50%;

  width: 15px;
  height: 15px;

  background-color: $grey;

  border:  2px solid $pink;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .range-controls {
    display: block;
    position: relative;

    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .range-controls {
    width: 290px;
  }
}